<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Set a point after Geocoder result</title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      /* height: 50%; */
    }

    .locationform {
      position: relative;
      top: 500px;
    }

    .mapboxgl-ctrl-attrib.mapboxgl-compact,
    .mapboxgl-ctrl-attrib-inner,
    a.mapboxgl-ctrl-logo,
    .mapbox-improve-map {
      display: none;
    }
  </style>
</head>

<body>
  <div class="mapcontainer">
    <div id="map"></div>
  </div>

  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js">
  </script>
  <link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
    type="text/css" />
  <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
  <script>
    mapboxgl.accessToken = '<%= process.env.MAPBOXACT %>';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [-79.4512, 43.6568],
      zoom: 12
    });

    var geocoder = new MapboxGeocoder({
      accessToken: mapboxgl.accessToken,
      marker: {
        color: 'orange'
      },
      mapboxgl: mapboxgl,
      getItemValue: ({
        center,
        place_name
      }) => {
        var locationData = {
          placename: place_name,
          latitude: center[0],
          longitude: center[1]
        }
        window.parent.postMessage(locationData, '*')
        return place_name;
      },
      placeholder: 'Enter a location',
    });
    map.addControl(geocoder);
  </script>

</body>

</html>